.Number,
.Experience {
    background-color: #282c34;
    color: white;
    padding: 20px 40px 20px 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.Number {
    font-size: calc(30px + 2vmin);
}

.Experience {
font-size: calc(5px + 2vmin);
}